.day{
    width: 12%;
    min-width: 120px;
    padding: 0.2rem 0.3rem;
    background-color: #fff;
    margin: 0rem 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.tempDisplay{
    display: flex;
    justify-content: space-around;
}
.day h6{
    font-size: 0.9rem;
    margin-right: 0.6rem;
}