nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    grid-area: 1 / 2 / 2 / 3;
}
nav .brand{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Corinthia', cursive;
}
nav .brand h3{
    margin: 0;
    padding: 0;
}
nav .nav-items{
    width: 20%;
    display: flex;
    justify-content: right;
}
nav .nav-items .units{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 4rem;
    border-style:none;
    background-color: #fff;
    margin: 0.5rem 0.5rem;
    box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    -webkit-box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    transition: all 0.3s ease;
}
nav .nav-items .units:hover{
    background-color: #f8f8f8;
    box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
}
nav .nav-items .cur{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 4rem;
    border-style:none;
    background-color: #535353;
    color: #fff;
    margin: 0.5rem 0.5rem;
    box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    -webkit-box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 0px 29px -5px rgba(0,0,0,0.46);
    transition: all 0.3s ease;
}
nav .nav-items .cur:hover{
    background-color: #111;
    box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 0px 29px -13px rgba(0,0,0,0.46);
}

@media only screen and (max-width: 600px) {
    nav{
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        background-color: #fff;
    }
    nav .nav-items{
        width: auto;
    }
}
@media only screen and (max-width: 1230px) {
    nav{
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        background-color: #fff;
    }
    nav .nav-items{
        width: auto;
    }
}